.whatIdo {
    text-align: left;
}

.whatIdo h3 {
    border-bottom: 3px solid #02a2fd;
    font-family: "Poppins", Helvetica, sans-serif;
    width: 13%;
    padding-bottom: 8px;
}

.Doing {
    padding: 1rem;
    padding-bottom: 3em;
}

.Doing div {
    padding: 1rem;
}

.myServices>div {
    /* background: red; */
    text-align: left;
    display: flex;
}

.myServices i {
    font-size: 2rem;
    color: #02a2fd;
    transition: 0.5s all ease-in-out;
}

.myServices i:hover {
    transform: scale(1.2) rotate(5deg);
    transition: 0.5s all ease-in-out;
}

.myServices>div div h4 {
    font-weight: bold;
}

.myServices>div div p {
    color: #d5d5d5;
}

@media screen and (max-width:1210px) {
    .whatIdo h3 {
        width: 15%;
    }
}

@media screen and (max-width:990px) {
    .whatIdo h3 {
        width: 17%;
    }
}

@media screen and (max-width:500px) {
    .whatIdo h3 {
        width: 40%;
    }
}