.work {
    /* background: #fff; */
    margin: 0 0 1rem;
    background: #e4e4e4;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
    /* min-height: 60vh; */
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.work:hover img {
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.work:hover a {
    transition: all 0.3s ease-in-out;
    color: #3e3e3e;
}

.work:hover h3 {
    transition: all 0.3s ease-in-out;
    color: #02a2fd;
}

.work img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.work figcaption {
    padding: 2rem 1rem;
    text-align: left;
    height: 40%;
    transition: all 0.3s ease-in-out;
    border-top: 0px solid #02a2fd;
}

.work:hover figcaption {
    border-top: 4px solid #02a2fd;
    transition: all 0.3s ease-in-out;
}

.work figcaption h3 {
    font-weight: bold;
    color: black;
    border-left: 4px solid #02a2fd;
    padding-left: 15px;
    transition: all 0.3s ease-in-out;
}


.work figcaption p {
    color: #3e3e3e;
}

.work figcaption a {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    float: left;
}

.work figcaption a:hover {
    color: red;
}