.Header {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}